/**************************************
    Topページ(index.html)
***************************************/
@use 'mixin' as *;

.main {
    position: relative;

    &__concept {
        max-width: 1300px;
        margin: 20px 200px;
        @include tab {
            max-width: 600px;
            margin: 40px 200px 40px 30px;
         }
        @include sp {
            max-width: 400px;
            margin: 40px 70px 40px 20px;
        }

        &--title {
            position: absolute;
            top: -300px;
            left: 100px;
            color: #F5F5F3;
            letter-spacing: 2px;
            transition: top 0.3s ease;

            @include tab {
                position: static;
                color: #333333;

            }
        }

        &--text {
            line-height: 30px;
            margin: 120px 0;
            padding: 60px 0;
            @include tab{
                margin: 20px auto;
                padding: 0;
                line-height: 20px;
            }
        }

    }
/**************************************
    館内紹介(hotel_guide.html)
***************************************/

    &__facility-info {
        width: 1300px;
        margin: 200px;
        @include tab {
            max-width: 600px;
            margin: 40px 200px 40px 30px;
         }
        @include sp {
            max-width: 400px;
            margin: 40px 70px 40px 20px;
        }


        h2 {
            padding: 30px 0;
        }

        &--table {
            th {
                padding: 20px 10px;
                text-align: left;
            }

            td {
                padding: 20px 0;
            }
        }
    }

    &__room,
    &__bath,
    &__food {
        letter-spacing: 2px;
        margin: 20px 0;

        &--img {

            img {
                max-width: 100%;
                object-fit: cover;
            }
        }

        &--wrapper {
            max-width: 1300px;
            margin: 150px 200px;
            @include tab {
                max-width: 600px;
                margin: 40px 200px 40px 30px;
             }
            @include sp {
                max-width: 400px;
                margin: 40px 70px 40px 20px;
            }

            &--title {

                position: relative;

                &::before {
                    content: "";
                    display: block;
                    width: 30px;
                    height: 1px;
                    position: absolute;
                    bottom: 15px;
                    left: -50px;
                    background-color: #333333;
                }
            }

            &--text {
                margin: 50px 0;
                @include sp {
                    margin: 20px 0;
                }
    
            }

            &--reservation {
                display: flex;
                justify-content: end;
                align-items: center;
                height: 60px;
                text-align: center;
                @include sp {
                    justify-content:start;
                }

                a {
                    padding: 10px 50px 10px 30px;
                    border: solid 1px #333333;
                    color: #333333;
                    position: relative;

                    &::after {
                        content: "";
                        display: block;
                        width: 10px;
                        height: 10px;
                        position: absolute;
                        top: 20px;
                        right: 20px;
                        margin-top: -2.5px;
                        border-top: 1px solid #333333;
                        border-right: 1px solid #333333;
                        transform: rotate(45deg);
                        transition: transform 0.3s ease, right 0.3s ease;
                        @include sp {
                            width: 7px;
                            height: 7px;
                          top: 18px;

                        }
                    }

                    &:hover::after {
                        right: 15px;
                        /* ホバー時に右へずらす */
                    }

                }
            }
        }
    }

    &__news {
        max-width: 1300px;
        margin: 0 200px;
        @include tab {
            max-width: 600px;
            margin: 40px 200px 40px 30px;
         }
        @include sp {
            max-width: 400px;
            margin: 40px 70px 40px 20px;
        }

        &--header {
            display: flex;
            justify-content: space-between;
            margin-bottom: 50px;
            @include sp {
                margin-bottom: 20px;
            }

            &--title {
                position: relative;

                &::before {
                    content: "";
                    display: block;
                    width: 30px;
                    height: 1px;
                    position: absolute;
                    bottom: 15px;
                    left: -50px;
                    background-color: #333333;
                }
            }

            &--link {
                color: #333333;
                position: relative;
                width: 130px;
                text-align: end;
                @include sp{
                    width: 100px;
                }

                &::before {
                    content: "";
                    display: block;
                    width: 10px;
                    height: 10px;
                    position: absolute;
                    top: 8px;
                    left: 0;
                    border-top: 1px solid #333333;
                    border-right: 1px solid #333333;
                    transform: rotate(45deg);
                    transition: transform 0.3s ease, left 0.3s ease;
                    @include sp {
                        width: 7px;
                    height: 7px;
                        top: 5px;
                        left: 0px;
                    }
                }

                &:hover::before {
                    left: 5px;
                }

            }
        }

        &--list {
            display: flex;
            justify-content: space-around;
            @include sp {
               display: block;
               width: 300px;
               margin: 0 auto;
               
            }


            &--item {
        
                img {
                    width: 90%;
                    height: auto;
                    @include sp{
                        width: 100%;
                       
                    }
                }

                p {
                    color: #333333;
                    width: 90%;
                    @include sp{
                        width: 100%;
                    }
                }

                &:hover {
                    transform: translateY(5px);
                    transition: transform 0.3s ease, 0.3s ease;
                }
            }
        }
    }

    &__reservation {
        max-width: 1300px;
        margin: 150px 200px;
        @include tab {
            max-width: 600px;
            margin: 40px 200px 40px 30px;
         }
         @include sp {
            max-width: 400px;
            margin: 40px 70px 40px 20px;
        }

        &--title {
            position: relative;

            &::before {
                content: "";
                display: block;
                width: 30px;
                height: 1px;
                position: absolute;
                bottom: 15px;
                left: -50px;
                background-color: #333333;
            }
        }

        &--description {
            padding: 20px 0 5px;
        }

        &--note {
            padding-bottom: 20px;
        }

        &--phone {
            font-size: 1.3rem;
            margin: 20px 0;
            letter-spacing: 1.6px;
            @include tab {
                font-size: 1.3rem;
             }
             @include sp {
                font-size: 1rem;
            }

        }

        &--button {
            text-align: end;
            @include tab {
                margin: 20px 0px;
            }
            
            @include sp {
                text-align: start;
                margin: 20px 0px;
            }
            

            a {
                padding: 10px 50px 10px 30px;
                border: solid 1px #333333;
                color: #333333;
                position: relative;

                &::after {
                    content: "";
                    display: block;
                    width: 10px;
                    height: 10px;
                    position: absolute;
                    top: 15px;
                    right: 20px;
                    margin-top: -2.5px;
                    border-top: 1px solid #333333;
                    border-right: 1px solid #333333;
                    transform: rotate(45deg);
                    transition: transform 0.3s ease, right 0.3s ease;
                }

                &:hover::after {
                    right: 15px;
                    /* ホバー時に右へずらす */
                }

            }
        }

    }
/********************************************
   アクセスページ(access.html)
********************************************/
    &__access {
        max-width: 1300px;
        margin: 150px 200px;

        @include tab {
            max-width: 600px;
            margin: 40px 200px 40px 30px;
         }
         @include sp {
            max-width: 400px;
            margin: 40px 70px 40px 20px;
        }
        &--title {
            padding: 30px 0;
        }

        &--ubtitle {
            margin-bottom: 40px;
        }

        &--map {
            iframe {
                width: 100%;
                height: 500px;
                margin-bottom: 20px;
                @include sp{
                    height: 300px;
                }
            }
        }

        &--details {
            margin: 30px 0;
            padding-bottom: 40px;

            &--title {
                margin-bottom: 10px;
            }
        }

        &--car,
        &--public,
        &--shuttle {
            margin: 30px 0;
            padding-bottom: 40px;

            h4 {
                margin: 10px 0;
            }

            ul,
            ol {
                list-style: none;
                padding-left: 20px;
                margin: 10px 0;
                @include sp{
                    padding: 0;
                    font-size: 0.7rem;
                }

                li {
                    margin-bottom: 5px;

                }
            }

            ol {
                list-style: decimal;
            }

            ul li {
                margin-bottom: 10px;
            }

            p {
                padding: 30px 0;
            }
        }

        &--shuttle {
            p {
                padding: 5px 0;
            }
        }
    }
}

/**************************************
    お知らせページ(news.html)
***************************************/
.news {
    max-width: 1300px;
    margin: 150px 200px;
    position: relative;
    z-index: 10;

    &__filter {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 15px;
        margin-bottom: 20px;

        &-select,
        &-label {
            all: revert;
            background-color: #fff;
            cursor: pointer;
        }

        &-select,
        &-label {
            font-family: "游明朝体", "游明朝", YuMincho, "ヒラギノ明朝 Pro", "ヒラギノ明朝 ProN", "MS P明朝", serif;

        }
    }

    &-list {
        list-style: none;
        /* リストマークを削除 */
        padding: 20px 0;
        margin: 30px 0;

        &__item {
            margin-bottom: 20px;
            border-bottom: 1px solid #ccc;
            padding: 15px 0;

            &:first-child {
                border-top: 1px solid #ccc;
                padding-top: 30px;
            }
        }

        &__link {
            text-decoration: none;
            color: inherit;
            position: relative;

            &::after {
                content: "";
                display: block;
                width: 10px;
                height: 10px;
                position: absolute;
                top: 20px;
                right: 20px;
                margin-top: -2.5px;
                border-top: 1px solid #333333;
                border-right: 1px solid #333333;
                transform: rotate(45deg);
                transition: transform 0.3s ease, right 0.3s ease;
            }

            &:hover::after {
                right: 15px;
                /* ホバー時に右へずらす */
            }

            &:hover {
                text-decoration: underline;
            }
        }

        &__date {
            font-size: 12px;
            color: #999;
            margin-bottom: 5px;
        }

        &__title {
            font-size: 18px;
            font-weight: bold;
            margin: 0 0 10px;
        }

        &__excerpt {
            font-size: 14px;
            color: #666;
            margin: 0;
        }
    }
}


/********************************************
    おしらせ個別ページの内容(newsーdetail.html)
********************************************/
.news-detail {

    &__title {
        margin-bottom: 20px;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        padding: 15px 0;

        h4 {
            font-size: 1.6rem;
            font-weight: normal;
        }
    }

    &__body {
        margin: 50px 0 200px;

        p {
            padding: 40px 0;
            font-size: 1.2rem;
        }
    }

    &__navigation {
        margin: 20px 0;
        display: flex;
        justify-content: space-between;

        a {
            transition: color 0.3s ease;
        }

        a:hover {
            color: #666;
        }





        a:first-child {
            position: relative;

            &::after {
                content: "";
                display: block;
                width: 10px;
                height: 10px;
                position: absolute;
                top: 8px;
                left: -30px;
                border-top: 1px solid #333333;
                border-left: 1px solid #333333;
                transform: rotate(-45deg);
                transition: transform 0.3s ease, left 0.3s ease;
            }

            &:hover::after {
                left: -40px;
            }
        }

        a:last-child {
            position: relative;

            &::after {
                content: "";
                display: block;
                width: 10px;
                height: 10px;
                position: absolute;
                top: 8px;
                right: -30px;
                border-top: 1px solid #333333;
                border-right: 1px solid #333333;
                transform: rotate(45deg);
                transition: transform 0.3s ease, right 0.3s ease;
            }

            &:hover::after {
                right: -40px;
            }
        }
    }
}

/********************************************
    サンクスページ(thanks-page.html)
********************************************/
.thanks {
    &__container {
        max-width: 1300px;
        margin: 150px auto;
    }

    &__message {
        line-height: 50px;
        font-size: 1.2rem
    }

    &__contact {
        padding: 50px 0;
    }

    a {
        display: block;
        width: 100px;
        margin: 0 auto;
        text-align: center;
        transition: color 0.3s ease;
        position: relative;

        &::after {
            content: "";
            display: block;
            width: 0%;
            height: 1px;
            background-color: #666;
            position: absolute;
            bottom: 0;
            left: 0;
            transition: width 0.3s ease;
        }

        &:hover {
            color: #666;

            &::after {
                width: 100%;
            }

        }


    }
}