/*******************************************************
    room food bathページ(room.html、food.html、bath.html)
********************************************************/
@use '../mixin' as *;

.room-main,
.food-main,
.bath-main {

    &__concept {
        max-width: 1300px;
        margin: 150px 200px;


        @include tab {
            max-width: 600px;
            margin: 40px 200px 40px 30px;
        }

        @include sp {
            max-width: 400px;
            margin: 40px 70px 40px 20px;
        }

        &--title {
            color: #333333;
            letter-spacing: 2px;
            margin: 15px 0 0;

        }

        &--text {
            line-height: 30px;
            margin: 20px 0 60px;
            padding: 20px 0;

            @include tab {
                margin: 0;
            }
        }

    }


    &__link {

        li {
            padding: 5px;
            text-align: left;

            a {
                cursor: pointer;
                display: block;
                width: 200px;
                margin: 0 0 0 auto;
                position: relative;
                transition: all .3s ease 0s;


                &::after {
                    content: "";
                    display: block;
                    width: 0px;
                    height: 1px;
                    position: absolute;
                    bottom: 10px;
                    left: 180px;
                    background-color: #333333;
                    transition: width 0.3s ease;
                    opacity: 0;
                }

                &:hover::after {
                    width: 30px;
                    opacity: 1;
                }

                &:hover {
                    color: #666;
                    // transform: scale(1.1);
                }
            }
        }
    }

    &__room-list {
        max-width: 1300px;
        margin: 80px 200px 80px 0;

        @include tab {
            max-width: 600px;
            margin: 40px 200px 40px 30px;
        }

        @include sp {
            max-width: 400px;
            margin: 40px 70px 40px 20px;
        }

        &--item {
            display: flex;
            padding: 30px 0;

            @include tab {
                display: block;
            }

            &--img {
                flex: 3;

                img {
                    width: 100%;
                    height: 900px;
                    object-fit: cover;

                    @include tab {
                        height: 300px;
                    }
                }
            }

            &--menu {
                flex: 1;
                margin: 220px 15px;

                @include tab {
                    margin: 30px;
                }

                p {
                    padding: 20px 0 30px;

                    @include tab {
                        padding: 10px 0;
                    }
                }

                &--reservation {
                    display: flex;
                    justify-content: end;
                    align-items: center;
                    height: 60px;
                    text-align: center;

                    a {
                        padding: 10px 50px 10px 30px;
                        border: solid 1px #333333;
                        color: #333333;
                        position: relative;

                        &:hover {
                            color: #666;
                        }

                        &::after {
                            content: "";
                            display: block;
                            width: 10px;
                            height: 10px;
                            position: absolute;
                            top: 20px;
                            right: 20px;
                            margin-top: -2.5px;
                            border-top: 1px solid #333333;
                            border-right: 1px solid #333333;
                            transform: rotate(45deg);
                            transition: transform 0.3s ease, right 0.3s ease;
                        }

                        &:hover::after {
                            right: 15px;
                            /* ホバー時に右へずらす */
                        }

                    }
                }
            }

        }
    }


    &__details {
        max-width: 1300px;
        margin: 100px 200px;

        @include tab {
            max-width: 600px;
            margin: 40px 200px 40px 30px;
            padding: 0;
        }

        @include sp {
            max-width: 400px;
            margin: 40px 70px 40px 20px;
        }

        h3 {
            margin-bottom: 20px;
        }

        &--table {
            th {
                width: 150px;
                text-align: left;
                padding: 15px;

                @include tab {
                    width: 70px;
                    padding: 10px;
                    font-size: 0.9rem;
                }

                @include sp {
                    padding: 5px;
                    font-size: 0.7rem;
                }
            }

            td {
                padding: 15px;

                @include tab {
                    padding: 10px;
                    font-size: 0.9rem;
                }

                @include sp {
                    padding: 5px;
                    font-size: 0.7rem;
                }
            }
        }
    }

    &__private {
        max-width: 1300px;
        margin: 100px 200px 250px;
        padding: 50px 30px;
        display: flex;
        align-items: end;
        justify-content: space-between;
        background-image: url('../img/footer-bg.png');

        @include tab {
            max-width: 600px;
            margin: 40px 200px 40px 30px;
            display: block;
        }

        @include sp {
            max-width: 400px;
            margin: 40px 70px 40px 20px;
        }

        &--text {
            color: #F5F5F3;
            line-height: 2.3;
        }

        &--reservation {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            height: 60px;
            text-align: center;

            @include tab {
                margin: 10px auto;
            }


            a {
                padding: 10px 50px 10px 30px;
                border: solid 1px #333333;
                color: #333333;
                background-color: #F5F5F3;
                position: relative;

                &:hover {
                    color: #666;
                }


                &::after {
                    content: "";
                    display: block;
                    width: 10px;
                    height: 10px;
                    position: absolute;
                    top: 20px;
                    right: 20px;
                    margin-top: -2.5px;
                    border-top: 1px solid #333333;
                    border-right: 1px solid #333333;
                    transform: rotate(45deg);
                    transition: transform 0.3s ease, right 0.3s ease;
                }

                &:hover::after {
                    right: 15px;
                    /* ホバー時に右へずらす */
                }

            }
        }
    }
}


/********************************************
    アクセスページ(access.html)
********************************************/
.main__access {
    max-width: 1300px;
    margin: 150px 200px;

    @include tab {
        max-width: 600px;
        margin: 40px 200px 40px 30px;
    }

    @include sp {
        max-width: 400px;
        margin: 40px 70px 40px 20px;
    }

    &--title {
        padding: 30px 0;
    }

    &--ubtitle {
        margin-bottom: 40px;
    }

    &--map {
        iframe {
            width: 100%;
            height: 500px;
            margin-bottom: 20px;

            @include sp {
                height: 200px;
            }
        }
    }

    &--details {
        margin: 30px 0;
        padding-bottom: 40px;

        &--title {
            margin-bottom: 10px;
        }
    }

    &--car,
    &--public,
    &--shuttle {
        margin: 30px 0;
        padding-bottom: 40px;

        h4 {
            margin: 10px 0;
        }

        ul,
        ol {
            list-style: none;
            padding-left: 20px;
            margin: 10px 0;

            @include sp {
                padding: 0;
                font-size: 0.7rem;
            }

            li {
                margin-bottom: 5px;

            }
        }

        ol {
            list-style: decimal;
        }

        ul li {
            margin-bottom: 10px;
        }

        p {
            padding: 30px 0;
        }
    }

    &--shuttle {
        p {
            padding: 5px 0;
        }
    }
}

/**************************************
    お知らせページ(news.html)
***************************************/
.news {
    max-width: 1300px;
    margin: 150px 200px;
    position: relative;
    z-index: 10;

    @include tab {
        max-width: 600px;
        margin: 40px 200px 40px 30px;
    }

    @include sp {
        max-width: 400px;
        margin: 40px 70px 40px 20px;
    }

    &__filter {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 15px;
        margin-bottom: 20px;

        @include sp {
            flex-direction: column;
            align-items: flex-end;
            gap: 5px;
            margin-bottom: 0;
        }

        span {
            font-size: 0.7rem;
        }

        &-select,
        &-label {
            all: revert;
            background-color: #fff;
            cursor: pointer;
            font-size: 0.7rem;
        }

        &-select,
        &-label {
            font-family: "游明朝体", "游明朝", YuMincho, "ヒラギノ明朝 Pro", "ヒラギノ明朝 ProN", "MS P明朝", serif;

        }
    }

    &-list {
        list-style: none;
        /* リストマークを削除 */
        padding: 20px 0;
        margin: 30px 0;

        @include sp {
            margin: 0;
        }

        &__item {
            margin-bottom: 20px;
            border-bottom: 1px solid #ccc;
            padding: 15px 0;

            &:first-child {
                border-top: 1px solid #ccc;
                padding-top: 30px;
            }
        }

        &__link {
            text-decoration: none;
            color: inherit;
            position: relative;

            &::after {
                content: "";
                display: block;
                width: 10px;
                height: 10px;
                position: absolute;
                top: 20px;
                right: 20px;
                margin-top: -2.5px;
                border-top: 1px solid #333333;
                border-right: 1px solid #333333;
                transform: rotate(45deg);
                transition: transform 0.3s ease, right 0.3s ease;

                @include sp {
                    top: 30px;
                }
            }

            &:hover::after {
                right: 15px;
                /* ホバー時に右へずらす */
            }

            &:hover {
                text-decoration: underline;
            }
        }

        &__date {
            color: #999;
            margin-bottom: 5px;
        }

        &__title {
            font-weight: bold;
            margin: 0 0 10px;
        }

        &__excerpt {
            color: #666;
            margin: 0;
        }
    }
}


/********************************************
    おしらせ個別ページの内容(newsーdetail.html)
********************************************/
.news-detail {

    &__title {

        margin: 20px 0;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        padding: 15px 0;

        h4 {
            font-weight: normal;
        }
    }

    &__body {
        margin: 50px 0 200px;

        p {
            padding: 40px 0;
        }
    }

    &__navigation {
        margin: 20px 0;
        display: flex;
        justify-content: space-between;

        a {
            transition: color 0.3s ease;
        }

        a:hover {
            color: #666;
        }

        a:first-child {
            position: relative;

            &::after {
                content: "";
                display: block;
                width: 10px;
                height: 10px;
                position: absolute;
                top: 8px;
                left: -30px;
                border-top: 1px solid #333333;
                border-left: 1px solid #333333;
                transform: rotate(-45deg);
                transition: transform 0.3s ease, left 0.3s ease;

                @include sp {
                    top: 5px;
                    left: -15px;
                }
            }

            &:hover::after {
                left: -40px;
            }
        }

        a:last-child {
            position: relative;

            &::after {
                content: "";
                display: block;
                width: 10px;
                height: 10px;
                position: absolute;
                top: 8px;
                right: -30px;
                border-top: 1px solid #333333;
                border-right: 1px solid #333333;
                transform: rotate(45deg);
                transition: transform 0.3s ease, right 0.3s ease;

                @include sp {
                    top: 5px;
                    right: -15px;
                }
            }

            &:hover::after {
                right: -40px;
            }
        }
    }
}



/********************************************
    サンクスページ(thanks-page.html)
********************************************/
.thanks {
    &__container {
        max-width: 1300px;
        margin: 150px auto;
    }

    &__message {
        line-height: 50px;
        font-size: 1.2rem
    }

    &__contact {
        padding: 50px 0;
    }

    a {
        display: block;
        width: 100px;
        margin: 0 auto;
        text-align: center;
        transition: color 0.3s ease;
        position: relative;

        &::after {
            content: "";
            display: block;
            width: 0%;
            height: 1px;
            background-color: #666;
            position: absolute;
            bottom: 0;
            left: 0;
            transition: width 0.3s ease;
        }

        &:hover {
            color: #666;

            &::after {
                width: 100%;
            }

        }


    }
}

/********************************************
        予約ページ  page-reservation.php
********************************************/
.reservation {
    &__section {
        max-width: 1700px;
        margin: 0px 200px 150px 50px;
        background-color: #F5F5F3;

        @include tab {
            max-width: 600px;
            margin: 40px 200px 40px 30px;
        }

        @include sp {
            max-width: 400px;
            margin: 40px 70px 40px 20px;
        }
    }
        &__title {
            padding: 15px 0;
        }

}

.booking-package {
    height: 80vh;
}