@use '../mixin' as *;

.header.open .header__side {
    opacity: 1;

    // &--img,
    &--menu {
        z-index: 100;

        @include tab {
            width: 100%;
        }

    }

    &--img {
        width: 70%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;

        @include tab {
            width: 0%;
        }

        img {
            display: inline;
            width: 100%;
            height: 100vh;
            object-fit: cover;

            #top-image {
                position: relative;
                z-index: 110;
                display: inline;
            }
        }
    }
}

.header {
    position: relative;

    &__menu {
        width: 50px;
        height: 50px;
        border-radius: 5px;
        margin: 30px auto;
        position: fixed;
        top: 0;
        right: 80px;
        color: #333333;
        z-index: 1000;
        cursor: pointer;


        @include sp {
            right: 10px;
        }


        span.white {
            display: block;
            position: absolute;
            height: 2px;
            width: 70%;
            background: #F5F5F3;
            border-radius: 5px;
            left: 15%;
            transition: all 0.4s ease;
            // box-shadow: 0 1px 6px(#333333);

            &:nth-of-type(1) {
                top: 13px;
            }

            &:nth-of-type(2) {
                top: 22px;
            }

            &:nth-of-type(3) {
                top: 31px;
            }
        }

        span.black {
            display: block;
            position: absolute;
            height: 2px;
            width: 70%;
            background: #333333;
            border-radius: 5px;
            left: 15%;
            transition: all 0.4s ease;
            // box-shadow: 0 1px 6px(#333333);

            &:nth-of-type(1) {
                top: 13px;
            }

            &:nth-of-type(2) {
                top: 22px;
            }

            &:nth-of-type(3) {
                top: 31px;
            }

            .white {
                background-color: #F5F5F3 !important;
            }
        }

        &.active {
            span:nth-of-type(1) {
                top: 22px;
                /* 真ん中に移動 */
                transform: rotate(-45deg);
                /* 斜め左下に回転 */
                background-color: #333333;
            }

            span:nth-of-type(2) {
                opacity: 0;
                /* 非表示にする */
            }

            span:nth-of-type(3) {
                top: 22px;
                /* 真ん中に移動 */
                transform: rotate(45deg);
                /* 斜め右下に回転 */
                background-color: #333333;
            }
        }

        &-room,
        &-bath,
        &-food {
            width: 50px;
            height: 50px;
            border-radius: 5px;
            margin: 30px auto;
            position: fixed;
            top: 0;
            right: 80px;
            color: #333333;
            z-index: 1000;
            cursor: pointer;


            @include sp {
                right: 10px;
            }

            span {
                display: block;
                position: absolute;
                height: 2px;
                width: 70%;
                background: #333333;
                border-radius: 5px;
                left: 15%;
                transition: all 0.4s ease;

                &:nth-of-type(1) {
                    top: 13px;
                }

                &:nth-of-type(2) {
                    top: 22px;
                }

                &:nth-of-type(3) {
                    top: 31px;
                }
            }

            &.active {
                span:nth-of-type(1) {
                    top: 22px;
                    /* 真ん中に移動 */
                    transform: rotate(-45deg);
                    /* 斜め左下に回転 */
                    background-color: #333333;
                }

                span:nth-of-type(2) {
                    opacity: 0;
                    /* 非表示にする */
                }

                span:nth-of-type(3) {
                    top: 22px;
                    /* 真ん中に移動 */
                    transform: rotate(45deg);
                    /* 斜め右下に回転 */
                    background-color: #333333;
                }
            }
        }

        &-hotel_guide,
        &-access,
        &-news {
            width: 50px;
            height: 50px;
            border-radius: 5px;
            margin: 30px auto;
            position: fixed;
            top: 0;
            right: 80px;
            color: #0d0d0c;
            z-index: 1000;
            cursor: pointer;

            @include sp {
                right: 10px;
            }

            span {
                display: block;
                position: absolute;
                height: 2px;
                width: 70%;
                background: #333333;
                border-radius: 5px;
                left: 15%;
                transition: all 0.4s ease;

                &:nth-of-type(1) {
                    top: 13px;
                }

                &:nth-of-type(2) {
                    top: 22px;
                }

                &:nth-of-type(3) {
                    top: 31px;
                }
            }

            &.active {
                span:nth-of-type(1) {
                    top: 22px;
                    /* 真ん中に移動 */
                    transform: rotate(-45deg);
                    /* 斜め左下に回転 */
                    background-color: #333333;
                }

                span:nth-of-type(2) {
                    opacity: 0;
                    /* 非表示にする */
                }

                span:nth-of-type(3) {
                    top: 22px;
                    /* 真ん中に移動 */
                    transform: rotate(45deg);
                    /* 斜め右下に回転 */
                    background-color: #333333;
                }
            }
        }
    }

    &__link {
        width: 200px;
        height: 100vh;
        position: fixed;
        top: 70px;
        right: 0;
        color: #F5F5F3;
        z-index: 10;

        .black {
            color: #333333;
        }

        .white {
            color: #F5F5F3;
        }

        a {
            color: #F5F5F3;
        }


        @include sp {
            width: 70px;
        }

        h1 {
            padding: 80px 20px;
            text-align: center;

            a {
                transition: color 0.3s;
            }

            @include sp {
                padding: 20px 10px;
            }

        }

        nav {
            padding: 50px 20px;

            @include sp {
                display: none;
            }

            ul li {
                text-align: center;
                padding-top: 30px;
            }

            a {
                color: inherit;
                transition: color 0.3s ease;
                position: relative;
                cursor: pointer;

                &::after {
                    content: "";
                    display: block;
                    width: 0px;
                    height: 1px;
                    position: absolute;
                    bottom: 5px;
                    left: 70px;
                    background-color: #F5F5F3;
                    transition: width 0.3s ease;
                    opacity: 0;
                }

                &:hover::after {
                    width: 30px;
                    opacity: 1;

                }

                &.white {
                    &::after {
                        content: "";
                        display: block;
                        width: 0px;
                        height: 1px;
                        position: absolute;
                        bottom: 5px;
                        left: 70px;
                        background-color: #F5F5F3;
                        transition: width 0.3s ease;
                        opacity: 0;
                    }

                    &:hover::after {
                        width: 30px;
                        opacity: 1;

                    }
                }

                &.black {
                    &::after {
                        content: "";
                        display: block;
                        width: 0px;
                        height: 1px;
                        position: absolute;
                        bottom: 5px;
                        left: 70px;
                        background-color: #333333;
                        transition: width 0.3s ease;
                        opacity: 0;
                    }

                    &:hover::after {
                        width: 30px;
                        opacity: 1;

                    }
                }

            }
        }

        p {
            text-align: center;
            margin: 80px 0 80px;

            &:hover {
                color: #666;
                transform: scale(1.2);
            }


            @include sp {
                display: none;
            }

            a {
                color: #F5F5F3;
                transition: transform 0.3s ease;
                display: inline-block;

                &:hover {
                    transform: scale(1.2);
                }
            }

        }




        &-room,
        &-food,
        &-bath,
        &-access,
        &-news {
            width: 200px;
            height: 100vh;
            position: fixed;
            top: 70px;
            right: 0;
            z-index: 10;
            color: #333333;

            @include sp {
                width: 70px;
            }

            h1 {
                padding: 80px 20px;
                text-align: center;

                &:hover {
                    color: #666;
                }

                @include sp {
                    padding: 20px 10px;
                }
            }

            nav {
                padding: 50px 20px;

                @include sp {
                    display: none;
                }

                ul li {
                    text-align: center;
                    padding-top: 30px;
                }

                a {
                    // color: inherit;
                    transition: color 0.3s;
                    position: relative;
                    cursor: pointer;

                    .black {
                        color: #333333 !important;
                    }

                    .white {
                        color: #F5F5F3 !important;
                    }

                    &:hover {
                        color: #666;
                    }

                    &.white {
                        &:hover {
                            color: #bbbbbb;
                        }
                    }


                    &::after {
                        content: "";
                        display: block;
                        width: 0px;
                        height: 1px;
                        position: absolute;
                        bottom: 5px;
                        left: 70px;
                        background-color: #333333;
                        transition: width 0.3s ease;
                        opacity: 0;
                    }

                    &:hover::after {
                        width: 30px;
                        opacity: 1;

                    }

                    &.white {
                        &::after {
                            content: "";
                            display: block;
                            width: 0px;
                            height: 1px;
                            position: absolute;
                            bottom: 5px;
                            left: 70px;
                            background-color: #F5F5F3;
                            transition: width 0.3s ease;
                            opacity: 0;
                        }

                        &:hover::after {
                            width: 30px;
                            opacity: 1;

                        }
                    }

                    &.black {
                        &::after {
                            content: "";
                            display: block;
                            width: 0px;
                            height: 1px;
                            position: absolute;
                            bottom: 5px;
                            left: 70px;
                            background-color: #333333;
                            transition: width 0.3s ease;
                            opacity: 0;
                        }

                        &:hover::after {
                            width: 30px;
                            opacity: 1;

                        }
                    }
                }
            }

            p {
                text-align: center;
                margin: 80px 0 80px;

                @include sp {
                    display: none;
                }

                a {
                    color: #333333;
                    transition: transform 0.3s ease;
                    display: inline-block;

                    .black {
                        color: #333333;
                    }

                    .white {
                        color: #F5F5F3;
                    }

                    &:hover {
                        color: #666;
                        transform: scale(1.2);
                    }

                    &.white {
                        &:hover {
                            color: #bbbbbb;
                            transform: scale(1.2);
                        }
                    }


                }

            }

            .white {
                color: #F5F5F3;
            }

            .black {
                color: #333333;
            }
        }


        &-hotel_guide {
            width: 200px;
            height: 100vh;
            position: fixed;
            top: 70px;
            right: 0;
            color: #333333;
            z-index: 10;

            @include sp {
                width: 70px;
            }


            h1 {
                padding: 80px 20px;
                text-align: center;

                &:hover {
                    color: #666;
                }


                @include sp {
                    padding: 20px 10px;
                }
            }

            nav {
                padding: 50px 20px;

                @include sp {
                    display: none;
                }

                ul li {
                    text-align: center;
                    padding-top: 30px;
                }

                a {
                    color: inherit;
                    transition: color 0.3s;
                    position: relative;
                    cursor: pointer;

                    &:hover {
                        color: #666;
                    }

                    &.white {
                        &:hover {
                            color: #bbbbbb;
                        }
                    }


                    &::after {
                        content: "";
                        display: block;
                        width: 0px;
                        height: 1px;
                        position: absolute;
                        bottom: 5px;
                        left: 70px;
                        background-color: #333333;
                        transition: width 0.3s ease;
                        opacity: 0;
                    }

                    &:hover::after {
                        width: 30px;
                        opacity: 1;

                    }

                    &.white {
                        &::after {
                            content: "";
                            display: block;
                            width: 0px;
                            height: 1px;
                            position: absolute;
                            bottom: 5px;
                            left: 70px;
                            background-color: #F5F5F3;
                            transition: width 0.3s ease;
                            opacity: 0;
                        }

                        &:hover::after {
                            width: 30px;
                            opacity: 1;

                        }
                    }

                    &.black {
                        &::after {
                            content: "";
                            display: block;
                            width: 0px;
                            height: 1px;
                            position: absolute;
                            bottom: 5px;
                            left: 70px;
                            background-color: #333333;
                            transition: width 0.3s ease;
                            opacity: 0;
                        }

                        &:hover::after {
                            width: 30px;
                            opacity: 1;

                        }
                    }
                }
            }

            p {
                text-align: center;
                padding: 80px 0 80px;
                cursor: pointer;

                @include sp {
                    display: none;
                }

                a {
                    color: #333333;
                    transition: transform 0.3s ease;

                    &:hover {
                        color: #666;
                        transform: scale(1.2);
                    }

                    &.white {
                        &:hover {
                            color: #bbbbbb;
                            transform: scale(1.2);
                        }
                    }
                }

            }

            .white {
                color: #F5F5F3;
            }

            .black {
                color: #333333;
            }
        }
    }

    // topページ用

    &__mainvisual--img {
        img {
            width: 100vw;
            height: 100vh;
            object-fit: cover;
        }

        // bath,roomのページ用
        &-bath,
        &-room {
            width: calc(100% - 200px);

            @include sp {
                width: 100%;
            }

            img {
                width: 100%;
                height: 100vh;
                object-fit: cover;
            }
        }

        // food,roomのページ用
        &-food,
        &-single-room {
            width: calc(100% - 200px);
            height: calc(100vh - 250px);

            @include sp {
                width: 100%;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &-select {
            display: flex;
            justify-content: end;
            width: calc(100% - 200px);
            object-fit: contain;
            transition: opacity 0.3s ease;

            @include sp {
                display: none;
            }

            img {
                max-width: 350px;
                max-height: 250px;
                padding-left: 10px;
                padding-top: 20px;
                z-index: 10;
                cursor: pointer;

                &:hover {
                    opacity: 0.7;
                }
            }

        }
    }

    &__side {
        opacity: 0;

        &--img {
            width: 70%;
            height: 100vh;
            position: fixed;
            top: 0;
            left: 0;
            z-index: -100;

            @include sp {
                width: 0%;
            }

            img {
                width: 100%;
                height: 100vh;
                object-fit: cover;

                #top-image {
                    display: none;
                }
            }
        }

        &--menu {
            width: 30%;
            height: 100vh;
            position: fixed;
            top: 0;
            right: 0;
            background-color: #F5F5F3;
            z-index: -110;

            h1 {
                padding: 100px 20px 60px;
                text-align: center;
                color: #333333;

                @include tab {
                    padding: 150px 20px 20px;
                }

                a {
                    @include tab {
                        font-size: 2.5rem;
                    }
                }

            }

            nav {
                padding: 30px 20px;

                @include tab {
                    padding: 20px;
                }

                ul li {
                    text-align: center;
                    padding-top: 30px;
                }

                a {
                    color: #333333;
                    position: relative;

                    &:hover {
                        color: #666;
                    }

                    @include tab {
                        font-size: 1.2rem;
                    }


                    &::after {
                        content: "";
                        display: block;
                        width: 0px;
                        height: 1px;
                        position: absolute;
                        bottom: 5px;
                        left: 70px;
                        background-color: #333333;
                        transition: width 0.3s ease;
                        opacity: 0;
                    }

                    // &:hover {
                    //     // transform: scale(1.1);
                    // }

                    &:hover::after {
                        width: 30px;
                        opacity: 1;
                    }
                }


            }
        }

        &--reservation {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 60px;
            text-align: center;

            a {
                padding: 10px 50px 10px 30px;
                border: solid 1px #333333;
                color: #333333;
                position: relative;

                &:hover {
                    color: #666;
                }

                &::after {
                    content: "";
                    display: block;
                    width: 10px;
                    height: 10px;
                    position: absolute;
                    top: 20px;
                    right: 20px;
                    margin-top: -2.5px;
                    border-top: 1px solid #333333;
                    border-right: 1px solid #333333;
                    transform: rotate(45deg);
                    transition: transform 0.3s ease, right 0.3s ease;

                    @include tab {
                        font-size: 1.2rem;
                    }
                }

                &:hover::after {
                    right: 15px;
                    /* ホバー時に右へずらす */
                }

            }
        }

        &--address {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 60px;
            text-align: center;
            padding-top: 100px;
        }
    }

    // thanks-page
    &__container {
        background-image: url("../img/footer-bg.png");
        background-repeat: repeat-x;
        max-width: 100vw;
        height: 250px;

        h1 {
            color: #F5F5F3;
            text-align: center;
            padding: 100px 0;
        }
    }
}